<table class="attr">
  <tr>
    <th width="150">背番号</th>
    <td><%= @member.number %></td>
  </tr>




















  <tr>
    <th>管理者</th>
    <td><%= @member.administrator? ? "○" : "―" %></td>
  </tr>
</table>
